.js{
    border-radius: 20px;
    background-color: rgb(153, 153, 153);
  width: 25vw;
    height: 45vh;

    
     text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.2s;
    
    
}

.js:hover{
    transform: scale(1.05);
}
.js img{
    height: 100px;
    width: 100px;
}

.js p{
    width: 20vw;
    font-size: 16px;
}